* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: #282828;
  --bg-color: #282828;
  --main-color: #30fbef;
  color: white;
  font-weight: 400;
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container h1 {
  font-size: 26px;
}
.logo-container img {
  width: 60px;
  height: 60px;
}
.nav-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-container ul li {
  margin: 0 1rem;
  padding: 5px 15px;
  border-radius: 15px;
}
.nav-container ul li:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
.nav-container ul li:hover .nav-container ul li:last-child a {
  color: #9c69e2;
}
.nav-container ul li:hover a {
  color: #282828;
}
.nav-container ul li:last-child a {
  font-size: 16px;
  color: var(--main-color);
}

.nav-container a {
  text-decoration: none;
  color: white;
}
.nav-container li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 15px 30px;
}
.nav-container li:last-child:hover a {
  color: var(--bg-color);
}
.nav-container li:first-child a {
  color: var(--main-color);
}

/*HERO SECTION*/
.bar {
  display: none;
  width: 30px;
  height: 30px;
}
.bar img {
  width: 100%;
  height: 100%;
}
.hero-section {
  width: 1136px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -7rem;
  z-index: -1;
}
.hero-section img {
  width: 431px;
  height: 486px;
}
.hero-section article:first-child {
  width: 40%;
}
.hero-section article:first-child h1 {
  font-size: 80px;
  color: var(--main-color);
}
.hero-section article:first-child p {
  margin: 2rem 0;
}
.hero-section article:first-child button {
  border: none;
  text-decoration: none;
  color: var(--main-color);
  padding: 10px 25px;
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.hero-section article:first-child button:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
/*HERO SECTION*/

/*ABOUT CONTAINER*/
.about-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.security-image img {
  width: 399px;
  height: 312.04px;
}
.about-container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 2px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  width: 1117px;
  height: 75%;
  padding: 0 4rem;
}
.about {
  width: 520px;
}
.about h1 {
  font-weight: bold;
  font-size: 40px;
  color: var(--main-color);
  line-height: 130%;
}
.about p {
  margin-top: 10px;
  line-height: 28.8px;
}
/*ABOUT CONTAINER*/

/*FEATURES CONTAINER*/
.features-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 1117px;
  height: 800px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 3rem;
  overflow: hidden;
}
.feature-header h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--main-color);
}
.features {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  width: 100%;
}
.features > div {
  min-width: 350px;
  background: #212121;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25),
    -9px -9px 10px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.features > div a {
  display: flex;
  text-decoration: none;
  color: var(--main-color);
}
.features > div div p {
  margin: 1.5rem 0;
}
.features > div div h3 {
  color: var(--main-color);
}
.features > div a img {
  display: inline-block;
}
.features > div span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.feature-slide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-slide ul {
  display: flex;
}
.feature-slide ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
/*FEATURES CONTAINER*/

/*download-container*/
.download-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-download-container {
  position: relative;
  display: flex;
  width: 1117px;
  height: 75%;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 0 3rem;
}
.inner-download-container article:first-child {
  width: 520px;
  height: 60%;
  justify-self: flex-start;
  align-self: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.inner-download-container article:last-child {
  position: absolute;
  right: -150px;
  top: -100px;
}
.inner-download-container img {
  width: 800px;
  height: 830px;
}
.inner-download-container h1 {
  font-size: 40px;
  color: var(--main-color);
}
.inner-download-container p {
  font-size: 18px;
  line-height: 28.8px;
}
.inner-download-container button {
  border: none;
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-size: 25px;
  color: var(--main-color);
  padding: 10px 30px;
  width: 200px;
}
.inner-download-container button:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
/*download-container*/

/*testimonial*/
.testimonials-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-testimonial-container {
  width: 1117px;
  height: 75%;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.inner-testimonial-container article:first-child h1 {
  color: var(--main-color);
  font-size: 40px;
  font-weight: 700;
}
.testimonials {
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 2.5rem;
}

.testimonials > div {
  display: flex;
  background: #212121;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25),
    -9px -9px 10px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 3rem;
  min-width: 500px;
}
.user-info > div {
  display: flex;
  align-items: center;
}
.user-info h3 {
  color: var(--main-color);
  font-size: 22px;
}
.user-info > div ul {
  list-style: none;
  display: flex;
}
.user-image img {
  width: 90px;
  height: 90px;
}
.user-image {
  margin-right: 2rem;
}
.user-info p {
  font-size: 18px;
}
.user-info img {
  width: 30px;
  height: 30px;
}
.user-info > div p {
  color: #9c69e2;
  font-size: 14px;
}
.inner-testimonial-container article:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-testimonial-container article:last-child ul {
  display: flex;
  list-style: none;
}
.inner-testimonial-container article:last-child ul li {
  margin-right: 0.5rem;
}
.inner-testimonial-container article:last-child ul:last-child li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-testimonial-container article:last-child ul:last-child img {
  display: inline-block;
}
/*testimonial*/

/*subscribe-section*/
.subscribe-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-section article {
  width: 1117px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe-container h1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-size: 700;
  color: var(--main-color);
}
.subscribe-container p {
  font-size: 18px;
}
.form-container form {
  display: flex;
  width: 450px;
  padding: 10px 30px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.form-container form input {
  width: 70%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}
.form-container button {
  color: white;
  border: none;
  outline: none;
  padding: 15px 30px;
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.form-container button:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
/*subscribe-section*/

/*END SECTION*/
.end-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-end-section {
  width: 1117px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.inner-end-section ul li {
  list-style: none;
}
.inner-end-section a {
  text-decoration: none;
  color: var(--main-color);
}
.inner-end-section article:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-end-section article:first-child div:last-child {
  display: flex;
}
.learn-more {
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 10px 30px;
  color: white;
  border: none;
  font-size: 18px;
}
.learn-more:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
.request-demo {
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 10px 30px;
  color: #9c69e2;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-demo:hover {
  background-color: #9c69e2;
  color: var(--bg-color);
}
.request-demo span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.request-demo span img {
  display: inline-block;
}
.inner-end-section article:first-child h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--main-color);
}
.inner-end-section article:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.inner-end-section article:last-child div {
  width: 60px;
  height: 60px;
  background: #282828;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}
.inner-end-section article:last-child div img {
  width: 37.5px;
  height: 37.5px;
}

.inner-end-section article:nth-child(2) .address p {
  margin: 1rem 0;
}
.inner-end-section li {
  margin-bottom: 1.5rem;
}
.inner-end-section article:nth-child(2) div > a {
  display: inline-block;
  margin: 1.5rem 0;
}
.inner-end-section article:nth-child(2) > div:last-child p {
  margin-top: 1.5rem;
}
.inner-end-section article:nth-child(2) > div:last-child > div {
  display: flex;
}
.inner-end-section article:nth-child(2) > div:last-child div a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.inner-end-section article:nth-child(2) > div:last-child a {
  width: 60px;
  height: 60px;
  background: #282828;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}
.inner-end-section article:nth-child(2) > div:last-child img {
  width: 37.5px;
  height: 37.5px;
}
.inner-end-section .logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.inner-end-section article:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-end-section article:last-child div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-up {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--main-color);
  color: var(--bg-color);
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
/*END SECTION*/

@media screen and (max-width: 500px) {
  main {
    width: 100%;
  }
  .hero-section {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .hero-section article:first-child {
    text-align: center;
    margin: 3rem 0;
  }
  .hero-section article:first-child h1 {
    font-size: 50px;
  }
  .hero-section article:first-child {
    width: 100%;
  }
  .hero-section img {
    width: 100%;
    height: 100%;
  }
  .bar {
    display: flex;
  }

  .about {
    width: 100%;
  }
  .about-container {
    height: auto;
  }
  .about-container article {
    padding: 2rem;
    flex-direction: column;
    height: auto;
    margin: 3rem 0;
  }
  .features-container {
    height: auto;
    margin: 3rem 0;
  }

  .inner-feature-container {
    width: 100%;
  }
  .inner-download-container {
    width: 100%;
    padding: 3rem;
  }
  .inner-testimonial-container {
    width: 100%;
  }
  .inner-end-section {
    width: 100%;
    height: auto;
  }
  .inner-download-container {
    flex-direction: column;
    height: auto;
    margin: 3rem 0;
  }
  .inner-download-container img {
    width: 100%;
    height: 100%;
  }
  .security-image img {
    width: 100%;
    height: 200px;
  }
  .about-container article {
    width: 100%;
  }
  .inner-download-container article:first-child {
    width: 100%;
  }
  .inner-download-container article:last-child {
    position: static;
  }
  .testimonials > div {
    flex-direction: column;
    min-width: 100%;
    margin: 1rem 0;
  }
  .subscribe-section {
    height: auto;
  }
  .subscribe-section article {
    flex-direction: column;
  }
  .form-container form {
    width: 100%;
  }
  .inner-end-section article:first-child {
    flex-direction: column;
  }
  .inner-end-section article:first-child div:last-child {
    margin-top: 1rem;
  }
  .inner-end-section article:nth-child(2) {
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  .inner-end-section article:nth-child(2) div:nth-child(2) ul {
    display: flex;
  }
  .inner-end-section article:nth-child(2) div:nth-child(2) ul li {
    margin-right: 1rem;
  }
  .inner-end-section article:nth-child(2) div:nth-child(3) ul {
    display: flex;
  }
  .inner-end-section article:nth-child(2) div:nth-child(3) ul li {
    margin-right: 1rem;
  }
  header {
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logo-container > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-container ul {
    flex-direction: column;
    width: 100%;
  }
  .nav-container {
    display: none;
    width: 100%;
  }
  .nav-container ul li {
    width: 100%;
    padding: 1rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-container ul li:hover {
    background-color: var(--main-color);
  }
  .nav-container ul li:hover a {
    color: #282828;
  }
  .nav-toggle {
    display: block;
  }
  .bar-toggle {
    transform: rotate(90deg);
  }
  .end-section {
    margin: 2rem 0;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .hero-section {
    top: 0;
  }
}
